defaults: &defaults
  Facebook:
    APP_ID: ********
    APP_SECRET: *************
  Braintree:
    merchant_id: **************
    public_key: *************
    private_key: ********************

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
