<h1>分類列表</h1>

<%= link_to '新增分類', new_backend_category_path, class:'btn btn-success' %>

<table class="table table-hover">
  <thead>
    <tr>
      <td>分類名稱</td>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
